// Colors
$off-black: #20222b;
$off-white: #dfdce3;
$natural-grey: #8e8d8a;
$rose-gold: #bd8c7d;
$dark-grey: #5f6366;
$grey: #7f8688;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$edge-breakpoint: 45rem;
